<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h3> 1.   </h3>
<%= link_to 'Products', products_path %>
<h3> 2.   </h3>

<%# This is a comment! %>
<%#  <%= link_to 'Rails admin', rails_admin.index_path('') %>

Use /radmin to access the rails admin tool if it is setup.

<br><br><br>
<hr>
<%= Rails.env %>

